# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store

# Virtual Environment
venv/
env/

# Django
*.sqlite3
db.sqlite3
media/

# VSCode
.vscode/

# MacOS
.DS_Store

# Environment Variables
.env

/static/