{% extends 'myapp/layout.html' %}

{% block title %} Password Reset Complete | Arifuzzaman Akash - Django Developer {% endblock %}

{% block meta_description %}Welcome to Akash's personal developer portfolio. Explore Django projects and frontend work.{% endblock %}
{% block meta_keywords %}portfolio, Akash, Python, Django, projects{% endblock %}

{% block content %}
<div class="mx-5 my-5">
    <h2>Password Reset Complete</h2>
    <p>Your password has been set. You can now log in with the new password.</p>
    <a href="{% url 'login' %}">Go to Login</a>
</div>
{% endblock %}