{% extends 'myapp/layout.html' %}

{% block title %} Set New Password | Arifuzzaman Akash - Django Developer {% endblock %}

{% block meta_description %}Welcome to Akash's personal developer portfolio. Explore Django projects and frontend work.{% endblock %}
{% block meta_keywords %}portfolio, Akash, Python, Django, projects{% endblock %}

{% block content %}
<div class="form-custom-gradient p-4 border rounded w-50 w-sm-75 mx-auto my-4 p-auto">

    <img src="{{ personal_info.logo.url }}" alt="logo" width="15%" height="15%" class="mb-3 mx-auto d-block rounded-circle">

    <h3 class="mb-3 text-secondary">Set a New Password</h3>

    <form method="post" enctype="multipart/form-data" class="auth-form">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-outline-primary" style="height: 45px;">Reset Password</button>
    </form>
</div>

{% endblock %}