<section id="stats" class="stats section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="bi bi-emoji-smile"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="{{user_count}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Happy Clients</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="bi bi-substack"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="{{total_blog}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Blogs</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="bi bi-journal-richtext"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="{{ projects.count }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="bi bi-yelp"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="{{ reviews.count }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Client Reviews</p>
          </div>
        </div><!-- End Stats Item -->

      </div>

    </div>

</section>