{% extends 'myapp/layout.html' %}

{% block title %} Blogs | Arifuzzaman Akash - Django Developer {% endblock %}

{% block meta_description %}Welcome to Akash's personal developer portfolio. Explore Django projects and frontend work.{% endblock %}
{% block meta_keywords %}portfolio, Akash, Python, Django, projects{% endblock %}

{% load humanize %}

{% block content %}

<main class="main">
  <!-- Page Title -->
  <div class="page-title" data-aos="fade">
    <div class="container">
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="current">Blogs</li>
        </ol>
      </nav>
      <h1>My Blogs</h1>
    </div>
  </div><!-- End Page Title -->

  <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

        <div class="container">

            <div class="row gy-5">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

                    <div class="service-box">
                        <h4>Filter by</h4>
                        <div class="services-list">
                            <a href="{% url 'blogs' %}" class="{% if not selected_category %}active{% endif %}"><i class="bi bi-arrow-right-circle"></i><span>All Blogs</span></a>
                            {% for category in categories %}
                                <a href="?category={{ category.id }}" class="{% if selected_category == category.id %}active{% endif %}"><i class="bi bi-arrow-right-circle"></i><span>{{ category.name }}</span></a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- End Services List -->

                    <div class="help-box d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-headset help-icon"></i>
                        <h4>Have a Question?</h4>
                        <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>{{personal_info.phone}}</span></p>
                        <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:contact@example.com">{{personal_info.email}}</a></p>
                    </div>

                </div>

                <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
                    {% if blogs %}
                        {% for blog in blogs %}
                            <h5 class="m-0">{{blog.title}}</h5>
                            {% for cat in blog.categories.all %}
                                <small class="text-secondary">{{ cat.name }} |</small>
                            {% endfor %}
                            <p class="mt-3">{{blog.content}}</p>
                            {% if blog.image %}
                                <img src="{{ blog.image.url }}" alt="{{blog.title}}" class="img-fluid services-img">
                            {% endif %}
                            <div class="d-flex justify-content-between">
                                <p>
                                    A Blog by -
                                    <a href="{% url 'home' %}">{{ blog.user.clientinfo.full_name }}</a>
                                </p>
                                <p>Published: {{ blog.created_at|naturaltime }}</p>
                            </div>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <p>No blogs to show...</p>
                    {% endif %}
                </div>

            </div>

        </div>

    </section><!-- /Service Details Section -->
</main>
{% endblock %}