{% extends 'myapp/layout.html' %}
{% block title %} Login {% endblock %}

{% load static %}

{% block content %}
<div class="form-custom-gradient p-4 border rounded w-50 w-sm-75 mx-auto p-auto" style="margin-top: 15%;">

    <img src="{% static 'img/logowhite.png' %}" alt="logo" width="15%" height="15%" class="mb-3 mx-auto d-block">

    <h3 class="mb-3 text-secondary">Login</h3>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" id="messsage">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger" id="messsage">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}


                {% if field.errors %}
                    <div class="text-danger mt-2">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <div class="d-flex justify-content-between mt-4">
            <div>
                <a href="" class="text-decoration-none text-danger d-block mb-3 link-danger">forget password?</a>
                <a href="{% url 'register' %}" class="text-decoration-none text-success d-block mb-3 link-success">Don't have account?</a>
                <a href="{% url 'home' %}" class="text-decoration-none text-secondary link-secondary">Back to home...</a>
            </div>
            <button type="submit" class="btn btn-outline-primary" style="height: 45px;">Login</button>
        </div>
        
    </form>
</div>

{% endblock %}