{% extends 'myapp/layout.html' %}
{% load static %}

{% block title %} Arifuzzaman Akash {% endblock %}

{% block content %}
<header id="header" class="header d-flex flex-column justify-content-center">
  <i class="header-toggle d-xl-none bi bi-list"></i>

  {% include 'myapp/partials/nav.html' %}
</header>

<main class="main">
  <!-- Hero Section -->
  {% include 'myapp/partials/hero.html' %}

  <!-- About Section -->
  {% include 'myapp/partials/about.html' %}

  <!-- Stats Section -->
  {% include 'myapp/partials/stats.html' %}

  <!-- Skills Section -->
  {% include 'myapp/partials/skills.html' %}

  <!-- Resume Section -->
  {% include 'myapp/partials/resume.html' %}

  <!-- Portfolio Section -->
  {% include 'myapp/partials/protfolio.html' %}

  <!-- Services Section -->
  {% include 'myapp/partials/services.html' %}

  <!-- Testimonials Section -->
  {% include 'myapp/partials/testmonials.html' %}

  <!-- Contact Section -->
  {% include 'myapp/partials/contact.html' %}

</main>

{% endblock %}