{% extends 'myapp/layout.html' %}
{% load static %}

{% block title %} Service Details {% endblock %}

{% block content %}

<main class="main">
  <!-- Page Title -->
  <div class="page-title" data-aos="fade">
    <div class="container">
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="current">Service Details</li>
        </ol>
      </nav>
      <h1>Service Details</h1>
    </div>
  </div><!-- End Page Title -->

  <!-- Service Details Section -->
  <section id="service-details" class="service-details section">

    <div class="container">

      <div class="row gy-5">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

          <div class="service-box">
            <h4>Categories List</h4>
            <div class="services-list">
              {% for category in service.categories.all %}
              <a href="#" class=""><i class="bi bi-arrow-right-circle"></i><span>{{ category.title }}</span></a>
            {% endfor %}
            </div>
          </div>
          <!-- End Services List -->

          <div class="service-box">
            <h4>Download Catalog</h4>
            <div class="download-catalog">
              <a href="#"><i class="bi bi-filetype-pdf"></i><span>Catalog PDF</span></a>
              <a href="#"><i class="bi bi-file-earmark-word"></i><span>Catalog DOC</span></a>
            </div>
          </div><!-- End Services List -->

          <div class="help-box d-flex flex-column justify-content-center align-items-center">
            <i class="bi bi-headset help-icon"></i>
            <h4>Have a Question?</h4>
            <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>{{personal_info.phone}}</span></p>
            <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:contact@example.com">{{personal_info.email}}</a></p>
          </div>

        </div>

        <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
          {% if service.image %}
            <img src="{{ service.image.url }}" alt="" class="img-fluid services-img" width="100%">
          {% else %}
            <img src="" alt="">
          {% endif %}
          <h3>{{service.title}}</h3>
          <p>{{service.description}}</p>
          <ul>
            {% for feature in service.features.all %}
              <li><i class="bi bi-check-circle"></i> <span>{{ feature.title }}</span></li>
            {% endfor %}
          </ul>
          {% if service.more_info %}
            <p>{{service.more_info|linebreaksbr}}</p>
          {% endif %}
        </div>

      </div>

    </div>

  </section><!-- /Service Details Section -->
</main>
{% endblock %}